* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header {
  padding: 15px;
  background-color: #000000;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .container .navbar a {
  text-decoration: none;
  margin-left: 20px;
  color: white;
  font-size: 20px;
}
.header .container .navbar_right a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

.carousel-section {
  width: 100%;
  padding: 30px 0;
  height: 500px;
  margin: auto;
}
.carousel-section .container .carousel {
  background-image: url(../../img/image\ 6.png);
  background-size: cover;
}
.carousel-section .container .carousel .carousel-inner .carousel-item .carousel-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.carousel-section .container .carousel .carousel-inner .carousel-item .carousel-slide .carousel-name h2 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}
.carousel-section .container .carousel .carousel-inner .carousel-item .carousel-slide .carousel-name .desc {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carousel-section .container .carousel .carousel-inner .carousel-item .carousel-slide .carousel-name .btn-button {
  margin-top: 20px;
  font-size: 16px;
  background: #F8B653;
  padding: 10px 30px;
  border: none;
  border-radius: none;
  color: white;
}
.carousel-section .container .carousel .carousel-inner .carousel-item .carousel-slide .carousel-name .btn-button:hover {
  background: #E1B067;
  color: white;
}
.carousel-section .container .carousel .carousel-inner .carousel-item .carousel-slide .carousel-name .btn-button a {
  text-decoration: none;
}
.carousel-section .container .carousel .carousel-control-prev .carousel-control-prev-icon {
  width: 60px;
  height: 45px;
  background-image: url(../../img/Polygon\ 2.png);
}
.carousel-section .container .carousel .carousel-control-next .carousel-control-next-icon {
  width: 60px;
  height: 45px;
  background-image: url(../../img/Polygon\ 1.png);
}

.products {
  margin-top: 20px;
  padding: 20px 0;
}
.products .container h2 {
  text-align: center;
}
.products .container .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.products .container .row .col-pr {
  padding: 10px 30px;
  width: 33%;
}
.products .container .row .col-pr .card-item {
  background-color: #F8F8F8;
}
.products .container .row .col-pr .card-item .card-img {
  padding: 15px 35px;
}
.products .container .row .col-pr .card-item .card-img img {
  width: 100%;
}
.products .container .row .col-pr .card-item .card-body {
  padding: 0 23px;
}
.products .container .row .col-pr .card-item .card-body .desc {
  color: #CBC9C9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 80%;
}
.products .container .row .col-pr .card-item .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .container .row .col-pr .card-item .card-footer button {
  width: 50%;
  background: #E1B067;
  padding: 17px 26px;
  border: none;
  border-radius: none;
  color: #000000;
}
.products .container .row .col-pr .card-item .card-footer button:hover {
  background: #F8B653;
  color: #000000;
}
.products .container .row .col-pr .card-item .card-footer .price {
  background: #DEDDDC;
  padding: 17px 26px;
  width: 50%;
  height: 100%;
  position: relative;
  top: 8px;
  text-align: center;
}

.footer .footer-inner .row {
  padding: 20px 80px;
}
.footer .footer-inner .row .col {
  position: relative;
}
.footer .footer-inner .row .col h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}
.footer .footer-inner .row .col p {
  margin-bottom: 3px;
}
.footer .footer-inner .row .col span {
  color: red;
}
.footer .footer-inner .col:first-child::before {
  content: "";
  width: 2px;
  height: 100px;
  background-color: rgb(0, 89, 255);
  left: 0;
  top: 25px;
  position: absolute;
  display: none;
}
.footer .footer-inner .col::before {
  content: "";
  width: 2px;
  height: 100px;
  background-color: #DEDDDC;
  left: 0;
  top: 25px;
  position: absolute;
}
.footer .footer-inner:last-child {
  background-color: #F8F8F8;
}